name: Deploy to Cafe24 (silbo.kr via SFTP)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Deploy via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          host: ${{ secrets.SFTP_HOST }}
          port: ${{ secrets.SFTP_PORT }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}

          # 로컬: D:\field\www 폴더
          local_path: "www/*"

          # 원격: Xftp에서 보는 /field0327/www 바로 여기에 업로드
          remote_path: "/field0327/www/"

          # 파일 권한 동기화 옵션들ddddd
          delete_remote_files: false
          sftp_only: true
