name: Deploy to Cafe24 (FTP)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: silbo.kr
          username: field0327
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          local-dir: ./www/
          server-dir: ./www/  # FTP 루트의 www 폴더
          dangerous-clean-slate: false
