name: Deploy to Cafe24 (FTP)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: Deploy via FTP
        run: |
          lftp -c "
          open -u field0327,${{ secrets.FTP_PASSWORD }} silbo.kr;
          mirror -R --verbose --delete ./www /www;
          bye
          "
